openapi: 3.0.1
info:
  title: Relocation Service API
  description: |-
    This document describes the Relocation Service API.

    This page describes the RESTful APIs for Relocation Service. The APIs facilitate CRUD operations on the various resources for relocation service (Onboarding Plans , Onboarding Resources etc.) and allow operations on them (creating onboarding plan , get onboarding plans etc.).

    Some of the APIs that list collections of resources also support OData like implementation. Below query params can be used across Relocation Service entities.

    Example:

    1. `$orderby` - returns a result with the rows being sorted by the values of provided attribute.

        ```/relocation/onboarding/plan?$orderby=name%20desc```

    2. `$top` -  number of records you want to get.

        ```/relocation/onboarding/plan?$top=20```

    3. `$skip` - number of records you want to skip.

        ```/relocation/onboarding/plan?$skip=10```

    4. `$filter` - filter the results by a specified predicate expression. Operators: eq, ne, and, or.

        ```/relocation/onboarding/plan?$filter=name%20eq%20'ABC*'``` - name starts with 'ABC'

        ```/relocation/onboarding/plan?$filter=name%20eq%20'*ABC*'``` - name contains 'ABC'

        ```/relocation/onboarding/plan?$filter=name%20eq%20'*ABC'``` - name ends with 'ABC'

    5. `page, size` - page used in conjunction with `size` helps in pagination of resources

       ```/relocation/onboarding/plan?page=0&amp;size=20```
  license:
    name: VMware
    url: https://www.vmware.com/download/eula.html
  version: "1.0"
servers:
- url: https://cbslavkynvrap01.americas.manulife.net
  description: Generated server url
security:
- Bearer: []
tags:
- name: Query for Discovered Machines
  description: Lookup for discovered machines
- name: Onboarding Plans
  description: Manage onboarding plans
- name: Onboarding Deployments
  description: Manage onboarding deployments
- name: About the Service
  description: Relocation service versioning details
- name: Onboarding Plan Execution
  description: Manage onboarding plan executions
- name: Onboarding Blueprints
  description: Manage onboarding Blueprints
- name: Onboarding Resources
  description: Manage onboarding Resources
paths:
  /relocation/onboarding/task/create-deployment-bulk:
    post:
      tags:
      - Onboarding Deployments
      summary: Create or update onboarding deployments in bulk
      description: Create or update onboarding deployments in bulk in the current
        organization
      operationId: handlePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCreateDeploymentRequest'
        required: true
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
  /relocation/onboarding/task/create-deployment:
    post:
      tags:
      - Onboarding Deployments
      summary: Create or update an onboarding deployment and associated resources
      description: Create or update an onboarding deployment and associated resources
        in the current organization
      operationId: handlePost_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
        required: true
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
  /relocation/onboarding/resource:
    get:
      tags:
      - Onboarding Resources
      summary: Query for onboarding resources
      description: Query for onboarding resources in the current organization
      operationId: handleGet_1
      parameters:
      - name: $expand
        in: query
        description: |-
          Expand document contents

          Default value : false
        required: false
        schema:
          type: boolean
      - name: $filter
        in: query
        description: OData filter expression
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Comma-separated list of fields to populate in query result
        required: false
        schema:
          type: string
      - name: $limit
        in: query
        description: |-
          Set maximum number of documents to return in this query

          Example : 10
        required: false
        schema:
          type: integer
          format: int32
      - name: $tenantLinks
        in: query
        description: Comma-separated list
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDocumentQueryResult'
        "401":
          description: Unauthorized
    post:
      tags:
      - Onboarding Resources
      summary: Create an onboarding resource
      description: Create an onboarding resource in the current organization
      operationId: handleCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingResourceState'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingResourceResponse'
        "401":
          description: Unauthorized
  /relocation/onboarding/plan:
    get:
      tags:
      - Onboarding Plans
      summary: Query for onboarding plans
      description: Query for onboarding plans in the current organization
      operationId: handleGetPlan
      parameters:
      - name: $expand
        in: query
        description: |-
          Expand document contents

          Default value : false
        required: false
        schema:
          type: boolean
      - name: $filter
        in: query
        description: OData filter expression
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Comma-separated list of fields to populate in query result
        required: false
        schema:
          type: string
      - name: $limit
        in: query
        description: |-
          Set maximum number of documents to return in this query

          Example : 10
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDocumentQueryResult'
        "401":
          description: Unauthorized
    post:
      tags:
      - Onboarding Plans
      summary: Create an onboarding plan
      description: Create an onboarding plan in the current organization
      operationId: handleCreate_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingPlanState'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingPlanResponse'
        "401":
          description: Unauthorized
  /relocation/onboarding/deployment:
    get:
      tags:
      - Onboarding Deployments
      summary: Query for onboarding deployments
      description: Query for onboarding deployments in the current organization
      operationId: handleGet_4
      parameters:
      - name: $expand
        in: query
        description: |-
          Expand document contents

          Default value : false
        required: false
        schema:
          type: boolean
      - name: $filter
        in: query
        description: OData filter expression
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Comma-separated list of fields to populate in query result
        required: false
        schema:
          type: string
      - name: $limit
        in: query
        description: |-
          Set maximum number of documents to return in this query

          Example : 10
        required: false
        schema:
          type: integer
          format: int32
      - name: $tenantLinks
        in: query
        description: Comma-separated list
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDocumentQueryResult'
        "401":
          description: Unauthorized
    post:
      tags:
      - Onboarding Deployments
      summary: Create an onboarding deployment
      description: Create an onboarding deployment in the current organization
      operationId: handleCreate_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingDeploymentState'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingDeploymentResponse'
        "401":
          description: Unauthorized
  /relocation/onboarding/blueprint:
    get:
      tags:
      - Onboarding Blueprints
      summary: Query for onboarding blueprints
      description: Query for onboarding blueprints in the current organization
      operationId: handleGet_6
      parameters:
      - name: $expand
        in: query
        description: |-
          Expand document contents

          Default value : false
        required: false
        schema:
          type: boolean
      - name: $filter
        in: query
        description: OData filter expression
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Comma-separated list of fields to populate in query result
        required: false
        schema:
          type: string
      - name: $limit
        in: query
        description: |-
          Set maximum number of documents to return in this query

          Example : 10
        required: false
        schema:
          type: integer
          format: int32
      - name: $tenantLinks
        in: query
        description: Comma-separated list
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDocumentQueryResult'
        "401":
          description: Unauthorized
    post:
      tags:
      - Onboarding Blueprints
      summary: Create an onboarding blueprint
      description: Create an onboarding blueprint in the current organization
      operationId: handleCreate_3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingBlueprintState'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingBlueprintResponse'
        "401":
          description: Unauthorized
  /relocation/api/wo/query-unmanaged-machine:
    post:
      tags:
      - Query for Discovered Machines
      summary: Query for compute resources representing unmanaged machines from the
        Provisioning service inventory
      description: Query for compute resources representing unmanaged machines from
        the Provisioning service inventory in the current organization
      operationId: handlePost_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request'
        required: true
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
  /relocation/api/wo/execute-plan:
    get:
      tags:
      - Onboarding Plan Execution
      summary: Query for onboarding plan executions
      description: Query for onboarding plan executions in the current organization
      operationId: handleGet_8
      parameters:
      - name: $expand
        in: query
        description: |-
          Expand document contents

          Default value : false
        required: false
        schema:
          type: boolean
      - name: $filter
        in: query
        description: OData filter expression
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Comma-separated list of fields to populate in query result
        required: false
        schema:
          type: string
      - name: $limit
        in: query
        description: |-
          Set maximum number of documents to return in this query

          Example : 10
        required: false
        schema:
          type: integer
          format: int32
      - name: $tenantLinks
        in: query
        description: Comma-separated list
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDocumentQueryResult'
        "401":
          description: Unauthorized
    post:
      tags:
      - Onboarding Plan Execution
      summary: Execute the given onboarding plan
      description: Execute the given onboarding plan in the current organization
      operationId: handleCreate_4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanExecutionState'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanExecutionTaskResponse'
        "401":
          description: Unauthorized
  /relocation/onboarding/resource/{id}:
    get:
      tags:
      - Onboarding Resources
      summary: Get the selected onboarding resource
      description: Get the selected onboarding resource in the current organization
      operationId: handleGet
      parameters:
      - name: id
        in: path
        description: The id of the resource
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingResourceResponse'
        "401":
          description: Unauthorized
    delete:
      tags:
      - Onboarding Resources
      summary: Delete the selected onboarding resource
      description: Delete the selected onboarding resource in the current organization
      operationId: handleDelete
      parameters:
      - name: id
        in: path
        description: The id of the resource
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
    patch:
      tags:
      - Onboarding Resources
      summary: Update the selected onboarding resource
      description: Update the selected onboarding resource in the current organization
      operationId: handlePatch
      parameters:
      - name: id
        in: path
        description: The id of the resource
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingResourceState'
        required: true
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
  /relocation/onboarding/plan/{id}:
    get:
      tags:
      - Onboarding Plans
      summary: Get the selected onboarding plan
      description: Get the selected onboarding plan in the current organization
      operationId: handleGet_2
      parameters:
      - name: id
        in: path
        description: The id of the plan
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingPlanResponse'
        "401":
          description: Unauthorized
    delete:
      tags:
      - Onboarding Plans
      summary: Delete the selected onboarding plan
      description: Delete the selected onboarding plan in the current organization
      operationId: handleDelete_1
      parameters:
      - name: id
        in: path
        description: The id of the plan
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
    patch:
      tags:
      - Onboarding Plans
      summary: Update the selected onboarding plan
      description: Update the selected onboarding plan in the current organization
      operationId: handlePatch_1
      parameters:
      - name: id
        in: path
        description: The id of the plan
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingPlanState'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingPlanResponse'
        "401":
          description: Unauthorized
  /relocation/onboarding/deployment/{id}:
    get:
      tags:
      - Onboarding Deployments
      summary: Get the selected onboarding deployment
      description: Get the selected onboarding deployment in the current organization
      operationId: handleGet_3
      parameters:
      - name: id
        in: path
        description: The id of the deployment
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingDeploymentResponse'
        "401":
          description: Unauthorized
    delete:
      tags:
      - Onboarding Deployments
      summary: Delete the selected onboarding deployment
      description: Delete the selected onboarding deployment in the current organization
      operationId: handleDelete_2
      parameters:
      - name: id
        in: path
        description: The id of the deployment
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
    patch:
      tags:
      - Onboarding Deployments
      summary: Update the selected onboarding deployment
      description: Update the selected onboarding deployment in the current organization
      operationId: handlePatch_2
      parameters:
      - name: id
        in: path
        description: The id of the deployment
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingDeploymentState'
        required: true
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
  /relocation/onboarding/blueprint/{id}:
    get:
      tags:
      - Onboarding Blueprints
      summary: Get the selected onboarding blueprint
      description: Get the selected onboarding blueprint in the current organization
      operationId: handleGet_5
      parameters:
      - name: id
        in: path
        description: The id of the blueprint
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingBlueprintResponse'
        "401":
          description: Unauthorized
    delete:
      tags:
      - Onboarding Blueprints
      summary: Delete the selected onboarding blueprint
      description: Delete the selected onboarding blueprint in the current organization
      operationId: handleDelete_3
      parameters:
      - name: id
        in: path
        description: The id of the blueprint
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
    patch:
      tags:
      - Onboarding Blueprints
      summary: Update the selected onboarding blueprint
      description: Update the selected onboarding blueprint in the current organization
      operationId: handlePatch_3
      parameters:
      - name: id
        in: path
        description: The id of the blueprint
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingBlueprintState'
        required: true
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
  /relocation/api/wo/execute-plan/{id}:
    get:
      tags:
      - Onboarding Plan Execution
      summary: Get the selected onboarding plan execution
      description: Get the selected onboarding plan execution in the current organization
      operationId: handleGet_7
      parameters:
      - name: id
        in: path
        description: The id of the plan
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanExecutionTaskResponse'
        "401":
          description: Unauthorized
    delete:
      tags:
      - Onboarding Plan Execution
      summary: Delete the selected onboarding plan execution
      description: Delete the selected onboarding plan execution in the current organization
      operationId: handleDelete_4
      parameters:
      - name: id
        in: path
        description: The id of the plan
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
  /relocation/about:
    get:
      tags:
      - About the Service
      summary: Provide basic information about relocation service
      description: Get relocation service versioning information
      operationId: handleGet_9
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/About'
components:
  schemas:
    About:
      title: AboutResponse
      required:
      - gitCommitId
      - version
      - xenonVersion
      type: object
      properties:
        version:
          type: string
          description: Relocation service version.
        gitCommitId:
          type: string
          description: Relocation service commit identifier.
        xenonVersion:
          type: string
          description: Xenon-Spring version.
    BulkCreateDeploymentRequest:
      required:
      - planLink
      type: object
      properties:
        planLink:
          type: string
          description: A link to the parent plan to associate the new onboarding deployments
            with.
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/CreateDeploymentRequest'
    CreateDeploymentRequest:
      required:
      - deploymentLink
      - planLink
      type: object
      properties:
        planLink:
          type: string
          description: "Link to a plan. Clients need not set this field, as it is\
            \ automatically taken care of by the DeploymentBulkCreatorService"
        deploymentLink:
          type: string
          description: Link to an existing deployment. Only set this field when adding
            resources to an existing deployment.
        name:
          type: string
          description: "Desired deployment name. If omitted, a name will be automatically\
            \ generated"
        description:
          type: string
          description: Deployment description
        resources:
          type: array
          description: List of resources to be created
          items:
            $ref: '#/components/schemas/CreateResourceRequest'
        createBlueprint:
          type: boolean
          description: Indicates whether onboarding should generate a Template for
            this deployment.
        template:
          $ref: '#/components/schemas/CreateTemplateRequest'
        tag:
          type: string
        owner:
          type: string
        ownerType:
          type: string
          enum:
          - USER
          - AD_GROUP
    CreateResourceRequest:
      required:
      - link
      type: object
      properties:
        link:
          type: string
          description: Link to the compute resource (machine) in the Provisioning
            service inventory.
        name:
          type: string
          description: "Resource name, usually the machine name. Will be propagated\
            \ to Assembler."
        tagLinks:
          type: array
          description: Tag links in the Provisioning service inventory associated
            with the machine.
          items:
            type: string
        ruleLinks:
          uniqueItems: true
          type: array
          description: Links to Onboarding Rules
          items:
            type: string
    CreateTemplateRequest:
      required:
      - link
      - name
      type: object
      properties:
        name:
          type: string
          description: Name of the Assembler blueprint
        link:
          type: string
          description: Link to the Assembler blueprint
        components:
          type: object
          additionalProperties:
            type: string
            description: Maps deployment resource to its corresponding component in
              VCT.
            example: "{\"vm-administrator-mcm234-2347342\":\"Cloud_vSphere_Machine_1\"\
              ,\"vm-administrator-mcm678-3429551\":\"Cloud_vSphere_Machine_2\"}"
          description: Maps deployment resource to its corresponding component in
            VCT.
          example:
            vm-administrator-mcm234-2347342: Cloud_vSphere_Machine_1
            vm-administrator-mcm678-3429551: Cloud_vSphere_Machine_2
      description: Details of the template to be created
    OnboardingBlueprintResponse:
      required:
      - planLink
      type: object
      properties:
        name:
          type: string
          description: Name of the auto-generated Template.
        autogenerate:
          type: boolean
          description: Automatically generate the Template if set.
        templateLink:
          type: string
          description: Link to an existing Template.
        deploymentLink:
          type: string
          description: Link to the parent deployment.
        planLink:
          type: string
          description: Link to the parent plan.
        tenantLink:
          type: string
          description: Link to blueprint's tenant.
        documentSelfLink:
          type: string
          description: Link to this blueprint.
    OnboardingBlueprintState:
      title: OnboardingBlueprintRequest
      required:
      - planLink
      type: object
      properties:
        name:
          type: string
          description: Name of the auto-generated Template.
        autogenerate:
          type: boolean
          description: Automatically generate the Template if set.
        templateLink:
          type: string
          description: Link to an existing Template.
        deploymentLink:
          type: string
          description: Link to the parent deployment.
        planLink:
          type: string
          description: Link to the parent plan.
    OnboardingDeploymentResponse:
      required:
      - planLink
      type: object
      properties:
        name:
          type: string
          description: Deployment name. Will be propagated to Assembler deployment.
        description:
          type: string
          description: Deployment description. Will be propagated to Assembler deployment.
        planLink:
          type: string
          description: Link to the parent plan.
        tag:
          type: string
        consumerDeploymentLink:
          type: string
          description: Link to the onboarded deployment in Assembler.
        owner:
          type: string
        ownerType:
          type: string
          enum:
          - USER
          - AD_GROUP
        tenantLink:
          type: string
          description: Link to the deployment's tenant.
        documentSelfLink:
          type: string
          description: Link to this deployment.
    OnboardingDeploymentState:
      title: OnboardingDeploymentRequest
      required:
      - planLink
      type: object
      properties:
        name:
          type: string
          description: Deployment name. Will be propagated to Assembler deployment.
        description:
          type: string
          description: Deployment description. Will be propagated to Assembler deployment.
        planLink:
          type: string
          description: Link to the parent plan.
        tag:
          type: string
        consumerDeploymentLink:
          type: string
          description: Link to the onboarded deployment in Assembler.
        owner:
          type: string
        ownerType:
          type: string
          enum:
          - USER
          - AD_GROUP
    OnboardingPlanResponse:
      required:
      - name
      - projectId
      type: object
      properties:
        status:
          type: string
          enum:
          - OK
          - PARTIAL
          - ERROR
          - EXECUTING
          - UPDATING
        lastRunTimeMicros:
          type: integer
          format: int64
        nextRefreshTimeMicros:
          type: integer
          format: int64
        refreshIntervalMicros:
          type: integer
          format: int64
        description:
          type: string
          description: Plan description
        name:
          type: string
          description: Plan name
        endpointName:
          type: string
        projectName:
          type: string
        projectId:
          type: string
          description: Project identifier the plan will onboard machines to.
        endpointId:
          type: string
        endpointIds:
          uniqueItems: true
          type: array
          description: Cloud account identifiers to lookup for discovered machines.
          items:
            type: string
        deploymentTagName:
          type: string
        deploymentTagType:
          type: string
          enum:
          - TAG
          - CUSTOM_PROPERTY
        createdBy:
          type: string
        enableExtensibilityEvents:
          type: boolean
        organizationId:
          type: string
        customProperties:
          title: Custom properties at the plan level
          type: object
          additionalProperties:
            title: Custom properties at the plan level
            type: string
        usePlacements:
          type: boolean
          default: false
        tenantLink:
          type: string
          description: Link to the plan's tenant.
        documentSelfLink:
          type: string
          description: Link to this plan.
    OnboardingPlanState:
      title: OnboardingPlanRequest
      required:
      - name
      - projectId
      type: object
      properties:
        status:
          type: string
          enum:
          - OK
          - PARTIAL
          - ERROR
          - EXECUTING
          - UPDATING
        lastRunTimeMicros:
          type: integer
          format: int64
        nextRefreshTimeMicros:
          type: integer
          format: int64
        refreshIntervalMicros:
          type: integer
          format: int64
        description:
          type: string
          description: Plan description
        name:
          type: string
          description: Plan name
        endpointName:
          type: string
        projectName:
          type: string
        projectId:
          type: string
          description: Project identifier the plan will onboard machines to.
        endpointId:
          type: string
        endpointIds:
          uniqueItems: true
          type: array
          description: Cloud account identifiers to lookup for discovered machines.
          items:
            type: string
        deploymentTagName:
          type: string
        deploymentTagType:
          type: string
          enum:
          - TAG
          - CUSTOM_PROPERTY
        createdBy:
          type: string
        enableExtensibilityEvents:
          type: boolean
        organizationId:
          type: string
        customProperties:
          title: Custom properties at the plan level
          type: object
          additionalProperties:
            title: Custom properties at the plan level
            type: string
        usePlacements:
          type: boolean
          default: false
    OnboardingResourceResponse:
      required:
      - planLink
      - resourceLink
      type: object
      properties:
        deploymentLink:
          type: string
          description: Link to the parent deployment.
        tagLinks:
          type: array
          description: Tag links in the Provisioning service inventory associated
            with the machine.
          items:
            type: string
        ruleLinks:
          uniqueItems: true
          type: array
          items:
            type: string
        diskLinks:
          uniqueItems: true
          type: array
          items:
            type: string
        createdTimeMicros:
          type: integer
          format: int64
        planLink:
          type: string
          description: Link to the parent plan.
        resourceLink:
          type: string
          description: Link to the compute resource (machine) in the Provisioning
            service inventory.
        resourceName:
          type: string
          description: "Resource name, usually the machine name. Will be propagated\
            \ to Assembler."
        consumerResourceLink:
          type: string
        customProperties:
          type: object
          additionalProperties:
            type: string
        options:
          uniqueItems: true
          type: array
          items:
            type: string
        tenantLink:
          type: string
          description: Link to the resource's tenant.
        documentSelfLink:
          type: string
          description: Link to this resource.
    OnboardingResourceState:
      title: OnboardingResourceRequest
      required:
      - planLink
      - resourceLink
      type: object
      properties:
        deploymentLink:
          type: string
          description: Link to the parent deployment.
        tagLinks:
          type: array
          description: Tag links in the Provisioning service inventory associated
            with the machine.
          items:
            type: string
        ruleLinks:
          uniqueItems: true
          type: array
          items:
            type: string
        diskLinks:
          uniqueItems: true
          type: array
          items:
            type: string
        createdTimeMicros:
          type: integer
          format: int64
        planLink:
          type: string
          description: Link to the parent plan.
        resourceLink:
          type: string
          description: Link to the compute resource (machine) in the Provisioning
            service inventory.
        resourceName:
          type: string
          description: "Resource name, usually the machine name. Will be propagated\
            \ to Assembler."
        consumerResourceLink:
          type: string
        customProperties:
          type: object
          additionalProperties:
            type: string
        options:
          uniqueItems: true
          type: array
          items:
            type: string
    PlanExecutionState:
      title: PlanExecutionRequest
      required:
      - planLink
      type: object
      properties:
        planLink:
          type: string
          description: Link to the plan to execute.
        subStage:
          type: string
          enum:
          - UPDATE_PLAN_STATUS_EXECUTING
          - DELETE_OLD_REPORTS
          - VALIDATE_PLAN
          - VALIDATE_BLUEPRINTS
          - VALIDATE_DEPLOYMENTS
          - VALIDATE_MACHINES
          - POPULATE_PLACEMENTS_COMPUTES
          - QUERY_RESOURCE_COUNT
          - QUERY_FIRST_BATCH
          - GET_BATCH_AND_EXECUTE
          - WAIT_FOR_BATCH_COMPLETION
          - UPDATE_PLAN_STATUS_COMPLETE
        executionId:
          type: string
        planValidated:
          type: boolean
        blueprintsValidated:
          type: boolean
        deploymentsValidated:
          type: boolean
        machinesValidated:
          type: boolean
        nextPageLink:
          type: string
        deploymentCount:
          type: integer
          format: int32
        retryCount:
          type: integer
          format: int32
        failedDeploymentCount:
          type: integer
          format: int32
        usePlacements:
          type: boolean
        placementComputesRetrieved:
          type: boolean
        placementToComputesMap:
          type: object
          additionalProperties:
            uniqueItems: true
            type: array
            items:
              type: string
    PlanExecutionTaskResponse:
      title: PlanExecutionResponse
      required:
      - planLink
      type: object
      properties:
        planLink:
          type: string
          description: Link to the plan to execute.
        subStage:
          type: string
          enum:
          - UPDATE_PLAN_STATUS_EXECUTING
          - DELETE_OLD_REPORTS
          - VALIDATE_PLAN
          - VALIDATE_BLUEPRINTS
          - VALIDATE_DEPLOYMENTS
          - VALIDATE_MACHINES
          - POPULATE_PLACEMENTS_COMPUTES
          - QUERY_RESOURCE_COUNT
          - QUERY_FIRST_BATCH
          - GET_BATCH_AND_EXECUTE
          - WAIT_FOR_BATCH_COMPLETION
          - UPDATE_PLAN_STATUS_COMPLETE
        executionId:
          type: string
        planValidated:
          type: boolean
        blueprintsValidated:
          type: boolean
        deploymentsValidated:
          type: boolean
        machinesValidated:
          type: boolean
        nextPageLink:
          type: string
        deploymentCount:
          type: integer
          format: int32
        retryCount:
          type: integer
          format: int32
        failedDeploymentCount:
          type: integer
          format: int32
        usePlacements:
          type: boolean
        placementComputesRetrieved:
          type: boolean
        placementToComputesMap:
          type: object
          additionalProperties:
            uniqueItems: true
            type: array
            items:
              type: string
        failureMessage:
          type: string
        tenantLink:
          type: string
          description: Link to a tenant
        documentSelfLink:
          type: string
        taskInfo:
          $ref: '#/components/schemas/TaskState'
    Request:
      title: UnmanagedMachineQueryServiceRequest
      required:
      - planLink
      type: object
      properties:
        planLink:
          type: string
        optionExcludePlanMachines:
          type: boolean
        optionIncludeOnlyPlanMachines:
          type: boolean
        optionIncludeManagedMachines:
          type: boolean
        optionExtendFiltersIfNone:
          type: boolean
          deprecated: true
        filters:
          type: array
          items:
            $ref: '#/components/schemas/ResourceFieldFilter'
        sortOptions:
          type: array
          items:
            $ref: '#/components/schemas/ResourceFieldSortOption'
        expandFields:
          type: array
          items:
            type: string
        nextPageLink:
          type: string
        pageResultLimit:
          type: integer
          format: int32
    ResourceFieldFilter:
      type: object
      properties:
        field:
          type: string
          enum:
          - ID
          - NAME
          - STATUS
          - REGION
          - ADDRESS
          - TAG
          - CUSTOM_PROPERTY
          - ANY
        values:
          type: array
          items:
            type: string
    ResourceFieldSortOption:
      type: object
      properties:
        field:
          type: string
          enum:
          - ID
          - NAME
          - STATUS
          - REGION
          - ADDRESS
          - TAG
          - CUSTOM_PROPERTY
          - ANY
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    ServiceDocumentQueryResult:
      type: object
      properties:
        documentCount:
          type: integer
          format: int64
        documentLinks:
          type: array
          items:
            type: string
        documents:
          type: object
          additionalProperties:
            type: object
        nextPageLink:
          type: string
        nextPageLinksPerGroup:
          type: object
          additionalProperties:
            type: string
        prevPageLink:
          type: string
        selectedDocuments:
          type: object
          additionalProperties:
            type: object
        selectedLinks:
          uniqueItems: true
          type: array
          items:
            type: string
        selectedLinksPerDocument:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: string
        queryTimeMicros:
          type: integer
          format: int64
    ServiceErrorResponse:
      type: object
      properties:
        message:
          type: string
        messageId:
          type: string
        stackTrace:
          type: array
          items:
            type: string
        statusCode:
          type: integer
          format: int32
        errorCode:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: string
            enum:
            - SHOULD_RETRY
        serverErrorId:
          type: string
        documentKind:
          type: string
        internalErrorCode:
          type: integer
          format: int32
          writeOnly: true
    TaskState:
      type: object
      properties:
        stage:
          type: string
          enum:
          - CREATED
          - STARTED
          - FINISHED
          - FAILED
          - CANCELLED
        isDirect:
          type: boolean
        failure:
          $ref: '#/components/schemas/ServiceErrorResponse'
        durationMicros:
          type: integer
          format: int64
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
